body{
    font-family: 'El Messiri', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
#color{
    color: rgb(248, 105, 23);
}

h1{
    font-size: 40px;  
}

.heading-style{
    line-height: 25px;
    font-weight: 900;
    color: rgba(8, 8, 8, 0.8);
}

section{
    display: flex;
    margin-bottom: 100px;
}

.set-width{
    width: 50%;
    padding-left: 3%;
}
.set-width img{
    width: 80%;   
}
.click-button{
    text-decoration: none;
    color: white;
   background-image: linear-gradient(rgb(248, 61, 36), rgba(241, 81, 28, 0.896));
    padding: 10px 45px;
    border-radius: 5px;
    font-weight: 700;
}
#border-slice{
    border-image: linear-gradient(rgb(250, 168, 17),rgb(240, 74, 44));
    border-left: 5px solid;
    border-image-slice: 1;
    padding-left: 10px;
    width: auto;  
}

.set-border-radius{
    border-radius: 10px;
}
.heading-2-style{
   font-weight: 600;
   color: rgb(29, 23, 23);
   line-height: 20px;
   
}

